.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
    text-decoration: none;
}

/* .div_container {
    max-width: 1200px;
}

@media screen and (min-width: 1200px) {
    .div_container {
        max-width: 1200px;
        background: 'red';
    }
} */